<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google Photos Sync Check Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
    <div class="container">
      <h1>Google Photos Sync Check</h1>
      <br/>
      <h2>Local Albums Diff</h1>
      <p>These are the albums that are on your local disk but not on Google Photos.</p>
      <table class="table">
        <thead>
          <tr class="m-0">
            <th class="w-75">Title</th>
            <th class="w-25">Location</th>
          </tr>
        </thead>
        <tbody>
          {% for album in local_albums_diff %}
          <tr class="m-0">
            <td class="w-75">{{ album.title }}</td>
            <td class="w-25"><a href="{{ album.location }}" target="_blank">Local</a></td>
          </tr>
          {% else %}
          <tr>
            <td class="w-75"><b>Albums in sync</b></td>
            <td class="w-25"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br/>

      <h2>DB Albums Diff</h1>
      <p>These are the albums that are on Google Photos but not on your local disk.</p>
      <table class="table table-hover">
        <thead>
          <tr class="m-0">
            <th class="w-75">Title</th>
            <th class="w-25">Location</th>
          </tr>
        </thead>
        <tbody>
          {% for album in db_albums_diff %}
          <tr class="m-0">
            <td class="w-75">{{ album.title }}</td>
            <td class="w-25"><a href="{{ album.location }}" target="_blank">Google Photos</a></td>
          </tr>
          {% else %}
          <tr>
            <td class="w-75"><b>Albums in sync</b></td>
            <td class="w-25"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
